#Lista, Tupla y Diccionario

En Python nos vamos a encontrar con diferentes estructuras de datos.
De las más populares con las listas, las tuplas y los diccionarios. Cada una funciona y se manipula de manera diferente.


#Listas

Las listas se consideran un tipo de datos para guardar colecciones de información.


Una lista en Python es:

1. **Ordenada**: esto quiere decir que los elementos dentro de ella están indexados y se accede a ellos a través de una locación indexada.

2. **Editable**: los elementos dentro de una lista pueden editarse, añadir nuevos o eliminar los que ya tiene.

3. **Dinámica**: las listas pueden contener diferentes tipos de datos y hasta de objetos. Por ejemplo int, float, str y no hay problema.

4. **No única**: la lista puede contener elementos duplicados sin que arroje un error.

**Cómo hacer una lista**

Muy fácil, para hacerla se usan los paréntesis cuadrados `[]`

In [ ]:
# Crear una lista

mi_lista = [5,6,7,8,"hola", "buen", "día"]
print(mi_lista)
print("*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_")

[5, 6, 7, 8, 'hola', 'buen', 'día']
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_

In [ ]:
# Pero bueno esto es ciencias de la tierra así que usemos cosas que sabemos

minerales = ["Talco", "Yeso", "Calcita", "Fluorita", "Apatito", "Ortoclasa", "Cuarzo", "Topacio", "Corindón", "Diamante"]

print(minerales)

['Talco', 'Yeso', 'Calcita', 'Fluorita', 'Apatito', 'Ortoclasa', 'Cuarzo', 'Topacio', 'Corindón', 'Diamante']

**Funciones comunes que se usan con las listas**

Las dos funciones que es más probable lleguen a usar son **len()** y **type()**

In [ ]:
# uso de len()

print(mi_lista)
print(len(mi_lista))

print("__________________________________")

print(len(minerales))

# len te indica el número de elementos que  hay dentro de la lista

__________________________________
10

In [ ]:
# Uso de type()

print(type(minerales))

print(type(mi_lista))
# Igual y suena a que no sirve de mucho pero verificar que lo que estamos analizando
# es verdaderamente una lista sirve mucho

<class 'list'>

In [ ]:
# Pero qué pasaría si quisieramos saber qué tipo de elemento hay dentro de una lista?

print("_______________________________________________")
print(type(minerales[1]))

_______________________________________________
<class 'str'>

In [ ]:
# Se usan índices, recuerden que Python es cero indexado es decir empieza a contar
# Desde el 0.
print("_______________________________________________")
print(minerales)
print("_______________________________________________")

_______________________________________________
['Talco', 'Yeso', 'Calcita', 'Fluorita', 'Apatito', 'Ortoclasa', 'Cuarzo', 'Topacio', 'Corindón', 'Diamante']
_______________________________________________

In [ ]:
# Cómo harían para seleccionar a la Ortoclasa?

In [ ]:
# @title
print(minerales[5])


prueba = ["uno", "dos", "tres"]

Ortoclasa

In [ ]:
print("_______________________________________________")
# Pero ahi no termina, cómo harían para seleccionar la "O" de Ortoclasa?

In [ ]:
# @title
print(minerales)
print(minerales[8][6])

ó

In [ ]:
print("_______________________________________________")
# Y los índices también sirven para seleccionar varios elementos, pero OJO
print(minerales)
print(minerales[8:])

['Talco', 'Yeso', 'Calcita', 'Fluorita', 'Apatito', 'Ortoclasa', 'Cuarzo', 'Topacio', 'Corindón', 'Diamante']
['Corindón', 'Diamante']

**El método append()**

El método `.append()` básicamente lo que hace es agregar elementos a una lista

In [ ]:
a = ["manzana", "pera", "kiwi"]

a.append('piña')
print(a)

['manzana', 'pera', 'kiwi', 'piña']

In [ ]:
#También se pueden agregar otras listas
b = ["Ford", "BMW", "Volvo"]

a.append(b)

print(a)
print((a[4][0]))

Ford



---


#**Tuplas**

Las Tuplas son una colección de objetas que se separan por comas. Son similares a las listas en el sentido de índices, objetos dentro de otros y repetición, pero una tupla es **inmutable** es decir que una vez que la creas no puedes modificarla.

¿Entonces para qué se usa?

Un uso por ejemplo para las tuplas es para guardar registros mediante un query o consulta de SQL, en donde no quieres que los datos registrados se cambien.

**¿Cómo hacer una tupla?**

Igual que una lista, sólo que se usan paréntesis normales `()`

In [ ]:
# Crear una tupla

mi_tupla = ('a','b',10,30,14,7)


print(mi_tupla)
print('_____________________________________________________________')

('a', 'b', 10, 30, 14, 7)
_____________________________________________________________

In [ ]:
print(type(mi_tupla))
print('_____________________________________________________________')

In [ ]:
print(type(mi_tupla[0]))

print('_____________________________________________________________')

print(len(mi_tupla))

_____________________________________________________________
6

In [ ]:
# Modificar una lista vs modificar una tupla

# Tenemos la lista: mi_lista
# Y la tupla: mi_tupla

# Supongamos que quieren cambiar "buen" "día" por "Buenas" "Tardes"

mi_lista[5] = "Buenas"

print(mi_lista)

[5, 6, 7, 8, 'hola', 'Buenas', 'día']

In [ ]:
mi_lista[6] = "Tardes"

print(mi_lista)



print(mi_tupla)
print(mi_tupla[1])

('a', 'b', 10, 30, 14, 7)
b

In [ ]:
# Veamos si queremos hacer esto con una tupla
mi_tupla[5] = "Cambio"

In [ ]:
#Cambiar de tupla a lista
cambio_t_l = list(mi_tupla)

print((cambio_t_l))

['a', 'b', 10, 30, 14, 7]

In [ ]:
# Ahora sí ya se puede editar
cambio_t_l[5] = "Cambio"
print(cambio_t_l)

['a', 'b', 10, 30, 14, 'Cambio']

In [ ]:
# Cambiar de lista a tupla

nueva_tupla = tuple(cambio_t_l)
print(type(nueva_tupla))

<class 'tuple'>



---


#**Diccionarios**

Los diccionarios son una colección de valores ordenada, que se usa para guardar datos. Pero aquí viene la diferencia, los diccionarios van a tener un formato así: **key:valor**.

Y en los diccionarios, para accesar a los datos lo haces mediante el key, mientras que en otros se usan los índices. Las keys deben ser únicas, pero los valores no necesariamente

¿Cómo hacer un diccionario?
Se usan las llaves `{}` y tienen el siguiente formato

In [ ]:
# Haciendo un diccionario

DD = {'a':10,'b':20,'c':30}
print(DD)
print(type(DD))

{'a': 10, 'b': 20, 'c': 30}

In [ ]:
# Ya con un poco más de uso
mis_datos = {'nombre': 'Ana', 'Edad': 25, 'Ubicación': 'CDMX'}
print(mis_datos)

# Este ejemplo tiene tres pares datos ordenados
# OJO las llaves en los diccionario sólo pueden ser inmutables
# Es decir pueden ser: integers, strings, tuplas, floats, y Booleanos
# No pueden ser listas

{'nombre': 'Ana', 'Edad': 25, 'Ubicación': 'CDMX'}

In [ ]:
print("______________________________________________________________________________")
my_dictionary = {True: "True",  1: 1,  1.1: 1.1, "one": 1, "languages": ["Python"]}
print(my_dictionary) # Esto sí se puede

______________________________________________________________________________
{True: 1, 1.1: 1.1, 'one': 1, 'languages': ['Python']}

In [ ]:
print("______________________________________________________________________________")
my_dictionary2 = {True: "True",  1: 1,  1.1: 1.1, "one": 1, ["Python"]:"language"}
print(my_dictionary2) # Esto no se puede

In [ ]:
# Hagamos otro ejemplo y veamos cómo encontrar elementos en los diccionarios

nubes = {"Cirrus": "Alta", "Altocumulus": "Media", "Cirrostratus": "Alta", "Cumulus":"Baja", "Nimbostratus":"Baja", "Altostratus": "Media"}
print(nubes)

{'Cirrus': 'Alta', 'Altocumulus': 'Media', 'Cirrostratus': 'Alta', 'Cumulus': 'Baja', 'Nimbostratus': 'Baja', 'Altostratus': 'Media'}

In [ ]:
# Encontrar el número de parejas en un diccionario
print(len(nubes))

6

In [ ]:
# Cómo ver todas las parejas en el diccionario
print(nubes.items()) #es una lista de tuplas

In [ ]:
# Como ver todas las keys de un diccionario
print(nubes.keys())

In [ ]:
# Cómo ver todos los valores de un diccionario
print(nubes.values())

In [ ]:
# cómo ves un valor en específico
print(nubes['Altocumulus'])

In [ ]:
# Pero tengan cuidado
print(nubes['cirrus']) #no encuentra esa key

In [ ]:
# Usando .get
print(nubes.get('cirrus', 'Esta key no existe'))

In [ ]:
# Agregando elementos al diccionario
nubes['Cumulonimbus'] = "Extraña"
print(nubes.items())

In [ ]:
# Cambiar un valor
nubes['Cumulonimbus'] = "Peculiar"
print(nubes.items())

In [ ]:
# Actualizar varios valores
print(mis_datos)
mis_datos.update(nombre= 'Juan', Edad = 38, Ocupación = "Influencer")

print(mis_datos)

{'nombre': 'Ana', 'Edad': 25, 'Ubicación': 'CDMX'}
{'nombre': 'Juan', 'Edad': 38, 'Ubicación': 'CDMX', 'Ocupación': 'Influencer'}

In [ ]:
# Borrar elementos
del mis_datos["Edad"]
print(mis_datos)

{'nombre': 'Juan', 'Ubicación': 'CDMX'}

#Ejercicios

In [ ]:
# Dado el siguiente diccionario, qué código escribirían para
# imprimir la edad de Emma?
student = {1: {'name': 'Emma', 'age': '27', 'sex': 'Female'},
           2: {'name': 'Mike', 'age': '22', 'sex': 'Male'}}

In [ ]:
# @title
print(student[1]["age"])


Con todo lo que han aprendido hagan lo siguiente



*   Mediante un diccionario reproduzcan la siguiente tabla

| Nombre del Banco | Años 1 y 2 | Más de 3 años|
| --- | --- |--- |
| ANZ | 2.3% |4.1% |
| BBVA | 1.8% |5.7% |
| Santander | 1.1% |2.1% |
| NU | 4.8% |1.1% |


*   Imprime las parejas de keys y values que hay
*   Cambia el nombre del banco ANZ por UALA

In [ ]:
# @title
test = {'Nombre del Banco': ["ANZ", "BBVA", "Santander", "NU"],
        'Años 1 y 2': ["2.3%", "1.8%", "1.1%", "4.8%"],
        'Más de 3 años': ["4.1%", "5.7%", "2.1%", "1.1%"]}


print(test.items())

In [ ]:
# @title

test['Nombre del Banco'] = "UALA", "BBVA", "Santander", "NU"
print(test.items())

In [ ]:
#Tenemos el siguiente directorio

Ejercicio_dict = {
   "class":{
      "student":{
         "name":"Mike",
         "marks":{
            "physics":70,
            "history":80
         }
      }
   }
}

print(Ejercicio_dict.items())
#Cómo le harían para obtener la calificación que obtuvo en historia??

dict_items([('class', {'student': {'name': 'Mike', 'marks': {'physics': 70, 'history': 80}}})])

In [ ]:
# @title

print(Ejercicio_dict['class']['student']['marks']['history'])

Resolviendo algunas dudas

In [ ]:
print(nubes)

print(list(nubes.keys())[list(nubes.values()).index('Alta')])  #


search_heigth = input("Provide Altura: ")

for name, heigth in nubes.items():  # for name, age in dictionary.iteritems():  (for Python 2.x)
    if heigth == search_heigth:
        print(name)

{'Cirrus': 'Alta', 'Altocumulus': 'Media', 'Cirrostratus': 'Alta', 'Cumulus': 'Baja', 'Nimbostratus': 'Baja', 'Altostratus': 'Media'}

https://stackoverflow.com/questions/8023306/get-key-by-value-in-dictionary