## Variables, Tipos de Datos y Operadores en Python

In [ ]:
print("¡Bienvenidos a la clase de Python para Ciencias de la Tierra! :D ")

En python existen 4 tipos de variables diferentes:
Enteros (int), flotantes (float), cadenas de texto (str) y boobleanos (bool).

|Tipo     | Ejemplo |Aplicación                           | 
|---------|---------|-------------------------------------|
|`int`    | 5       | número de días con lluvia           | 
|`float`  | 25.5    | Temperatura registrada              |
|`complex`| 50+7j   | Propagación de una onda sísmica     |
|`str`    | "UNAM"  | Nombre de una estación              |
|`bool`   | True    | ¿Hubo sismo hoy?                    |     




* Las variables tipo int y float pueden almacenar números positivos y negativos.
* Las variables tipo srt se pueden definir con '' o "". Pero usar "" es más poderoso (pueden crear una variable del tipo texto = "don't").
* Las variables tipo bool siempre empiezan con mayúsculas (True y False)

### Buenas prácticas:
#### Cuidado con los nombres de las variables:

* Usar nombres fáciles y concisos.
* Sólo usar nombres cortos (`a`, `b`, `c`) para códigos cortos.
* Los nombres de variables compuestos deben de poder leerse de manera natural. Se recomienda que usen ya sea *"camel case"* (`userName`)o *"snake case"* (`user_name`).
* No repetir nombres de variables.
* No usar caracteres especiales (`$`,`&`, etc...)
* Podemos asignar el nombre que queramos, respetando no usar las palabras reservadas de Python ni espacios, guiones o números al principio.

In [ ]:
# Válido
_variable = 10
vari_able = 20
variable10 = 30
variable = 60
variaBle = 10

In [ ]:
# No válido
2variable = 10
var-iable = 10
var iable = 10

### Asignar múltiples valores:
Se pueden asignar múltiples variables en la misma línea.

In [ ]:
x, y, z = 10, 20, 30

### Palabras reservadas:

Python tiene un conjunto de palabras reservadas que no podemos utilizar para nombrar variables ni funciones, ya que las reserva internamente para su funcionamiento.

Por ejemplo, no podemos llamar a una función `True`, y si intentamos hacerlo, tendremos un `SyntaxError`. Esto es lógico ya que Python usa internamente True para representar el tipo booleano.

In [ ]:
def True():
    pass

Para saber cuáles nombres están reservados pueden usar la siguiente librería.

In [ ]:
# Aquí una lista de los nombres de variables prohibidas
import keyword
print(keyword.kwlist)

### Definir, obtener y convertir tipos de variables.

In [ ]:
# Ejemplo de variables
temperatura_media = 25.5  # grados Celsius
nombre_estacion = "Estación Meteorológica UNAM"
dias_lluvia = 12
sismo = True

Para saber con qué tipo de variable estamos trabajando, podemos usar la función `type()`

In [ ]:
type()

También podemos convertir tipos variables a otros tipos usando `int(), float(), y str()`.

Pero... no todas las conversiones están permitidas, por ejemplo, no pueden convertir cadenas de texto COMPLEJAS en números.

In [ ]:
temperatura_media_redondeada = int(temperatura_media)
print(type(temperatura_media_redondeada))
print(temperatura_media_redondeada)

In [ ]:
# ¿Cómo se convierte de entero a flotante?
# ¿Cómo se convierte un string en entero?
# ¿Cómo se convierte un string en flotante?
# ¿Cómo se convierte un string en bool?
# ¿Cómo se convierte un bool en string?

## Python como calculadora (Operadores aritméticos)

*   Suma (+)
*   Resta (-)
*   Multiplicación (*)
*   División (/)
*   Módulo (%)
*   Exponenciación (**). También pueden usar `pow()`

In [ ]:
# Creen un ejemplo de cada operador aritmético

También podemos usar algunos operadores aritméticos con cadenas de texto
(como `+` y `*`):

In [ ]:
hola = "hola"
bye = "adios"

print(hola + " , " + bye + " !")
print(hola*10)

In [ ]:
# Para imprimir varias variables en un solo print:

saludo = "Buenos días"
temp_actual = 25.5

print(f"{saludo}, la temperatura actual es de {str(temp_actual)} grados Celcius")

print(saludo + " \n, la temperatura actual es de" + str(temp_actual) + " grados Celcius")

print("%s, la temperatura actual es de %f  grados Celcius" % (saludo, temp_actual)) 
#la %s viene de String y la %f de float

## Operadores de comparación.

Los siguientes se pueden usar para comparar variables (ya sean cadenas de texto, flotantes, enteros, ...)

* Igualdad: `==`
* No igualdad: `!=`
* Mayor que: `>`
* Menor que: `<`
* Mayor o igual: `>=`
* Menor o igual:  `<=`

Al usarlos el resultado será un valor tipo bool (`True` , o `False`)

In [ ]:
numero_1 = 50
numero_2 = 51

print(numero_1 == numero_2)

In [ ]:
palabra_1 = "Hola"
palabra_2 = "hola"

print(palabra_1 == palabra_2)

## Operadores de asignación

Usualmente se usan para tareas recursivas:

* `=`
* `*=`
* `/=`
* `**=`
* `//=`
* `%=`

Si quieres incrementar el valor de saldo con 10, puedes utilizar saldo += 10. Es el equivalente a saldo = saldo + 10, pero es mucho más corto.

In [ ]:
saldo = 100
print(saldo)

saldo += 10
print(saldo)

saldo -= 20 
print(saldo)

## Ejercicios 

Creemos un conversor de unidades de libras a kilogramos

Ahora ustedes:

1. Creen un conversor de temperatura de grados celsius a fahrenheit.
2. Creen un programa que pregunte por la temperatura actual, luego va a comparar con un valor de referencia (26 °C), e imprimirá "Hace calor = True " si la temperatura es mayor que el valor de referencia y false en otro caso.
3. Haz un programa que pida el nombre de una persona y lo muestre 100 veces, pero dejando un espacio de separación entre cada copia del nombre.
4. Escribe un programa que pida el valor de los tres lados de un triángulo y calcule su área y su perímetro. (*Hint*: recuerden que el área *A* de un triángulo puede calcularse a partir los lados *a*,*b* y *c*, con la fórmula de Herón de Alejandría, $A = \sqrt{s(s-a)(s-b)(s-c)}$ donde $s=\frac{a+b+c}{2}$.